*{
    box-sizing: border-box;
}
body{
    background-image: url("https://images.unsplash.com/photo-1530549387789-4c1017266635?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070");
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px
  }
  
  li a:hover {
    background-color: #111;
    cursor: pointer;
  }
.about{
    float: right;
}  
.body{
    color: grey;
    font-size: 25px;
    text-align: center;
    font-family: monospace;
    background: transparent;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    
}
p{
    color: whitesmoke;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;

}
h3{
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}